<!-- <div class="container-fluid vh-100 d-flex flex-column">
  <app-header></app-header>
  <div class="row flex-grow-1">
    <aside class="col-3 border-end bg-light">
      <app-sidebar></app-sidebar>
    </aside>
    <main class="col p-3">
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-footer></app-footer>
</div> -->


<div class="d-flex vh-100 flex-column" style="background-color: #f9fafb;">
  <app-header></app-header>
  <div class="d-flex flex-grow-1">
    <aside [class.collapsed]="sidebarCollapsed" class="sidebar bg-light border-end">
      <app-sidebar></app-sidebar>
    </aside>
    <main [class.expanded]="sidebarCollapsed" class="flex-grow-1 p-3">
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-footer></app-footer>
</div>
